<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Costs</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let unit of units">
      <th scope="row">{{unit.id}}</th>
      <td>
        <a (click)="unitSelected($event, unit)" href="javascript:void(0)">
          {{unit.name}}
        </a>
      </td>
      <td>{{unit.age}}</td>
      <td>Food: {{unit.cost?.Food || '-'}}, Wood: {{unit.cost?.Wood || '-'}}, Gold: {{unit.cost?.Gold || '-'}}</td>
    </tr>
  </tbody>
</table>
