<div class="c-header__left d-none d-sm-none d-md-inline">
    <ul class="c-header__left-list">
        <li class="c-header__left-list-item">
            <a href="https://github.com/uckuruslukopera/imperial-age.git" target="blank">
                View on Github
            </a>
        </li>
      </ul>
</div>
<div class="c-header__middle">
  <h1>{{title}}</h1>
</div>
<div class="c-header__right">
  <ul class="c-header__right-list" routerLinkActive="c-header__right-list-item--active">
    <li class="c-header__right-list-item">
        <a routerLink="/home" >
            Home
        </a>
    </li>
    <li class="c-header__right-list-item">
        <a routerLink="/units">
            Units
        </a>
    </li>
  </ul>
</div>
