<table class="table table-striped table-sm">
  <tr>
    <th>ID:</th>
    <td>{{unit?.id}}</td>
  </tr>
  <tr>
    <th>Name:</th>
    <td>{{unit?.name}}</td>
  </tr>
  <tr>
    <th>Description:</th>
    <td>{{unit?.description}}</td>
  </tr>
  <tr>
    <th>Min. Requiered Age</th>
    <td>{{unit?.age}}</td>
  </tr>
  <tr>
    <th>Wood Cost:</th>
    <td>{{unit?.cost?.Wood || '-'}}</td>
  </tr>
  <tr>
    <th>Food Cost:</th>
    <td>{{unit?.cost?.Food || '-'}}</td>
  </tr>
  <tr>
    <th>Gold Cost:</th>
    <td>{{unit?.cost?.Gold || '-'}}</td>
  </tr>
  <tr>
    <th>Built Time:</th>
    <td>{{unit?.build_time || '-'}}</td>
  </tr>
  <tr>
    <th>Reload Time:</th>
    <td>{{unit?.reload_time || '-'}}</td>
  </tr>
  <tr>
    <th>Attack Delay:</th>
    <td>{{unit?.attack_delay || '-'}}</td>
  </tr>
  <tr>
    <th>Movement Rate:</th>
    <td>{{unit?.movement_rate || '-'}}</td>
  </tr>
  <tr>
    <th>Line of Sight:</th>
    <td>{{unit?.line_of_sight}}</td>
  </tr>
  <tr>
    <th>Hit Points:</th>
    <td>{{unit?.hit_points}}</td>
  </tr>
  <tr>
    <th>Range:</th>
    <td>{{unit?.range || '-'}}</td>
  </tr>
  <tr>
    <th>Attack:</th>
    <td>{{unit?.attack}}</td>
  </tr>
  <tr>
    <th>Armor:</th>
    <td>{{unit?.armor}}</td>
  </tr>
  <tr>
    <th>Acuracy:</th>
    <td>{{unit?.accuracy }}</td>
  </tr>
</table>