.r-home {
    background-image: url(assets/images/bg/age-of-empires-4-factions-900x507.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    height: calc(100vh - 60px);
    min-height: 400px;
    width: 100vw;
}